body{
  position:relative;
}
/**** Header ****/
.navbar-brand a{
  text-decoration: none;
	color: #ffffff;
}
#nav-list{
	text-align: center;
}
#nav-bar{
	border-radius: 0;
  border: 0;
	margin-bottom: 0;
}
#bg-image{
	max-width: 100%;
	max-height: auto;
}


/**** Home Page *****/
.container-fluid .jumbotron{
	padding: 0;
}
#home{
	background-color:#eeeeee;
	padding-top: 0px;
}
#divJumbotron{
  position: relative;
}
#bg-image{
	max-height: auto;
	max-width: 100%;
}
#name1{
  position: absolute;
  top:25%;
  left:0;
  font-size: 5vw;
  font-family: 'Ranga', cursive;
  color: #5D6D7E
}
#title {
  position: absolute;
  top:35%;
  left:0;
  font-size: 2vw;
  font-family: 'Ranga', cursive;
  color: #5D6D7E;

}

/**** About Page ****/
#about{
  height: 1000px;
  background-color: green;
}
/**** Extra Space ****/
#extra {
  height: 500px;
  background-color: #ffffff;
}
/**** Footer ****/
#footer {
  color: #ffffff;
}

/**** Large Devices ****/

@media(min-width: 1200px){
	/**** Home Page ****/
	/*.container-fluid .jumbotron {
    background: url('../images/BackGround_1200.jpg') no-repeat;
    height: 675px;
		width: 100%;
  }*/

}

/**** Medium Devices ****/
@media(min-width: 992px) {
	/**** Home Page ****/
	/*.container-fluid .jumbotron {
		background: url('../images/BackGround_992.jpg') no-repeat;
		height: 558px;
	}*/

}

/**** Small Devices ****/
@media(min-width: 768px) {
	/**** Home Page ****/
	/*.container-fluid .jumbotron {
		background: url('../images/BackGround_768.jpg') no-repeat;
		height: 558px;
	}*/
}

/**** Extra Small Devices ****/
@media(max-width: 767px) {
	.navbar-brand {
		/*font-size: 5vw;*/
		/*padding-bottom: 8px;2*/
	}

}

/**** Super Extra Small Devices ****/
@media(max-width: 279px){
	.navbar-brand {
		font-size: 5vw;
		/*padding-bottom: 8px;*/
	}
}
