body{
  position:relative;
  background-color: #eeeeee;
}
/**** Header ****/
.navbar-brand a{
  text-decoration: none;
	color: #ffffff;
}
#nav-list{
	text-align: center;
}
#nav-bar{
	border-radius: 0;
  border: 0;
	margin-bottom: 0;
}
#bg-image{
	max-width: 100%;
	max-height: auto;
}


/**** Home Page *****/
.container-fluid .jumbotron{
	padding: 0;
}
#home{
	padding-top: 0px;
}
#divJumbotron{
  position: relative;
}
#bg-image{
	max-height: auto;
	max-width: 100%;
}
#name1{
  position: absolute;
  top:25%;
  left:0;
  font-size: 5vw;
  font-family: 'Ranga',cursive;
  color: #5D6D7E
}
#title {
  position: absolute;
  top:35%;
  left:0;
  font-size: 2vw;
  font-family: 'Ranga', fantasy;
  color: #5D6D7E;

}

/**** About Page ****/
#about{
  height: 100vh;
  color: #000000;
  font-family: 'Indie Flower',fantasy;
  padding-top: 50px;
}

/**** Skills ****/
#skills{
  height: 100vh;
  padding-top: 50px;
}
#skills .row{
  padding-bottom: 5%;
}

/**** Portfolio ****/
#portfolio{
  height: 100vh;
  padding-top: 50px;
}
#construction{
  margin: auto;
}

/**** Experience ****/
#experience{
  height: 100vh;
  padding-top: 50px;
}
/**** Footer ****/
#footer {
  color: #ffffff;
}
#footer a{
  padding-right: 20px;
  font-size: 2vw;
}
#copyright {
  font-size: 1vw;
}
/**** Education ****/
#education {
  height: 100vh;
  padding-top: 50px;
}

/**** Contact ****/
#contact{
  height: 100vh;
  padding-top: 50px;
}
.glyphicon {
  font-size: 50px;
}
#contact-email {
  font-size: 25px;
}
/**** Large Devices ****/

@media(min-width: 1200px){
	/**** Home Page ****/
	/*.container-fluid .jumbotron {
    background: url('../images/BackGround_1200.jpg') no-repeat;
    height: 675px;
		width: 100%;
  }*/

}

/**** Medium Devices ****/
@media(min-width: 992px) {
	/**** Home Page ****/
	/*.container-fluid .jumbotron {
		background: url('../images/BackGround_992.jpg') no-repeat;
		height: 558px;
	}*/

}

/**** Small Devices ****/
@media(min-width: 768px) {
	/**** Home Page ****/
	/*.container-fluid .jumbotron {
		background: url('../images/BackGround_768.jpg') no-repeat;
		height: 558px;
	}*/
}

/**** Extra Small Devices ****/
@media(max-width: 767px) {
	.navbar-brand {
		/*font-size: 5vw;*/
		/*padding-bottom: 8px;2*/
	}

}

/**** Super Extra Small Devices ****/
@media(max-width: 279px){
	.navbar-brand {
		font-size: 5vw;
		/*padding-bottom: 8px;*/
	}
}
